/*Estilos existentes */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cv-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cv-sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.cv-content {
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv-sidebar h2, .cv-sidebar h3, .cv-content h2, .cv-content h3 {
    margin-top: 0;
}

.cv-sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.cv-sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.cv-sidebar a:hover {
    text-decoration: underline;
}

.cv-sidebar .social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

.cv-sidebar .social-links a:hover {
    color: #5cb85c; /* Cambia el color al hacer hover */
    transform: scale(1.2); /* Aumenta ligeramente el tamaño al hacer hover */
}

/* Estilos para los íconos */
.cv-sidebar .social-links a i {
    vertical-align: middle;
}

/* Estilos mejorados para el párrafo "Acerca de mí" */
.cv-content p.about-me {
    background-color: #f0f8ff; /* Color de fondo suave */
    padding: 20px 25px; /* Espaciado interno más grande */
    margin-bottom: 20px; /* Mayor separación del siguiente contenido */
    font-size: 18px; /* Tamaño de fuente más grande */
    line-height: 1.8; /* Espaciado entre líneas mayor */
    border-left: 4px solid #5cb85c; /* Barra decorativa a la izquierda */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}


/* General button styling */
.button-link {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.button-link:hover {
    background-color: #4cae4c;
}

.button-general {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.button-general:hover {
    background-color: #1a242f;
}
