<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Editar Habilidad</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <h1>Editar Habilidad</h1>
    <form action="{{ url_for('edit_habilidad', id=skill.id) }}" method="POST">
        <label for="habilidad">Habilidad:</label>
        <input type="text" id="habilidad" name="habilidad" value="{{ skill.habilidad }}">
        
        <label for="nivel">Nivel:</label>
        <input type="text" id="nivel" name="nivel" value="{{ skill.nivel }}">
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>

