<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Editar Certificación</title>
</head>
<body>
    <h1>Editar Certificación</h1>
    <form action="{{ url_for('edit_certificacion', id=cert.id) }}" method="POST">
        <label for="nombre_certificacion">Nombre de la Certificación:</label>
        <input type="text" id="nombre_certificacion" name="nombre_certificacion" value="{{ cert.nombre_certificacion }}">
        
        <label for="organizacion_emisora">Organización Emisora:</label>
        <input type="text" id="organizacion_emisora" name="organizacion_emisora" value="{{ cert.organizacion_emisora }}">
        
        <label for="fecha_expedicion">Fecha de Expedición:</label>
        <input type="text" id="fecha_expedicion" name="fecha_expedicion" value="{{ cert.fecha_expedicion }}">
        

        
        <label for="credenciales_id">ID de las Credenciales:</label>
        <input type="text" id="credenciales_id" name="credenciales_id" value="{{ cert.credenciales_id }}">
        
        <label for="url_credencial">URL de la Credencial:</label>
        <input type="text" id="url_credencial" name="url_credencial" value="{{ cert.url_credencial }}">
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>


